/* HousingDetail.css */
body{
 
  width: 100%;
}
.housing-detail {
   max-width: 100%; 
   padding: 0px 30px 0px 30px;
   
  }
  
  .photo {
    height: 415px;
    max-width: 100%;
    position: relative;
  }
  
  .photo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
    filter: none;
  }
  
  .photo-index {
    position: absolute;
    bottom: 10px;
    right: 50%;
    background: rgba(0, 0, 0, 0);
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
  }
  
  .nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
  .nav-button.left {
    left: 1px;
    transform: translateY(-50%) rotate(90deg);
  }
  
  .nav-button.right {
    right: 1px;
    transform: translateY(-50%) rotate(270deg);
  }
  
  .second {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .second h1 {
    color: #FF6060;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 36px;
  }
  
  .second h4 {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 18px;
  }
  
  .medium {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .medium2 {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 15px;
    text-align: end;
  }
  .medium2 p{
    max-width: 92px;
  }
  
  .tag {
    border-radius: 10px;
    background-color: #FF6060;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 14px;
    padding: 5px 20px;
    margin-right: 10px;
  }
  
  .hostt {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: #FF6060;
  }
  
  .hostt img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
  }
  
  .rating {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
  
  h1 {
    margin-bottom: 0;
  }
  
  h4 {
    margin-top: 0;
  }
  .medium3{
    display: flex;
    flex-direction: row;
    gap: 5%;
  }
  .mesbtn{
    width: 100%;
  }
  .equipments {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    border-radius: 10px;
    background-color: #FF6060;
    color: white;
    border: none;
    padding: 1px 20px;
    width: 100%;
  }
  
  .equipments h2 {
    font-size: 18px;
    font-weight: 700;
  }
  
  .equipments img {
    width: 40px;
    height: 40px;
  }
  
  .rotated {
    transform: rotate(180deg);
  }
  
  .equipment,
  .description {
    background-color: rgba(216, 215, 215, 0.336);
    border-radius: 10px;
    width: 98%;
    margin-top: 0;
    padding: 10px;
  }
  .tags{
    display: flex;
    flex-direction: row;
}
  /* Mobile Styles */
  @media (max-width: 590px) {
    .photo{
      height: 250px;
    }
    .photo-index{
      right: 45%;
    }
    .nav-button{
      width: 12%;
    }
    .second {
      flex-direction: column;
      align-items: center;
    }
  
    .medium, .medium2 {
      width: 100%;
     
    }
    
    .medium2{
        flex-direction: row-reverse;
        justify-content: space-between;
    }
  
   .medium3{
    flex-direction: column;
   }
  
    .hostt {
      flex-direction: row;
    }
  }
  