.housing-detail{
    width: 100%;
   
}
.photo{
    height: 415px;
    position: relative;
}
.photo img{
    height: 100%;
    width: 100%;
}
.nav-button {
    
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
  }
  
  .nav-button.left {
    left: 10px;
  }
  
  .nav-button.right {
    right: 10px;
  }
.second{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.second h1{
    color: #FF6060;
}
.medium{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.medium2{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.tag{
    border-radius: 10px;
    background-color:#FF6060; 
    color: white;
    
    padding: 5px 20px ;
    margin-right: 10px;
    
}

.hostt{
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: #FF6060;
}
.hostt img{
width: 64px;
height: 64px;
border-radius: 50%;
}
.rating{
   display:flex ;
   flex-direction: row;
   
   gap: 5px;
}

h1{
    margin-bottom: 0px;
}
h4{
    margin-top: 0px;
}
.equipments{
margin-top: 3%;
margin-top: 30px;
margin-bottom: 30px;
border-radius: 10px;
background-color:#FF6060;
color: white;
border: none;
padding: 10px 20px 10px 20px;
width: 100%;}