.housing-list {
    padding: 20px;
background-color: #F6F6F6;

padding: 30px;
margin-top: 30px;
border-radius: 15px;}
    .cards {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;}
        .card {
           
            border-radius: 10px;
            position: relative;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            width: 340px;
            height: 340px;
            }
            h3{
                color: white;
                
                position: absolute;
                bottom: 10px;
                left: 5px;
            }