.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.header img{
    width: 210px;
    height: 68px;
}
.nav-links{
    margin: 1%;
    
    font-size: 24px;
    
}
.nav-links a {
    color: black;
    text-decoration: none;
    position: relative; /* Pour positionner la ligne sous le lien */
    padding: 5px; /* Ajoute de l'espace pour la ligne */
  }
  
  .nav-links a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: black;
    transition: width 0.3s;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  .nav-links a:hover::after,
  .nav-links a.active::after {
    width: 100%;
  }
  @media (max-width: 590px) {
    .header img{
      width: 145px;
      height: 46.89px;
  }

  }